{% extends "user/base2.html" %}

{% block title %}Invoices{% endblock %}

{% block content %}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(3) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .invoice-box.rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .invoice-box.rtl table {
        text-align: right;
    }

    .invoice-box.rtl table tr td:nth-child(2) {
        text-align: left;
    }

    .invoice-box .payment-button {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
    }

    .invoice-box .download-button {
        display: block;
        width: 100%;
        max-width: 150px;
        margin: 20px auto;
        padding: 10px;
        background-color: #ff3232;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
    }

</style>

<script>
    function printInvoice(invoiceId) {
        var printContents = document.getElementById(invoiceId).innerHTML;
        var originalContents = document.body.innerHTML;

        var printStyles = `
            <style>
                .invoice-box {
                    max-width: 800px;
                    margin: auto;
                    padding: 30px;
                    border: 1px solid #eee;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    font-size: 16px;
                    line-height: 24px;
                    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                    color: #555;
                }

                .invoice-box table {
                    width: 100%;
                    line-height: inherit;
                    text-align: left;
                }

                .invoice-box table td {
                    padding: 5px;
                    vertical-align: top;
                }

                .invoice-box table tr td:nth-child(3) {
                    text-align: right;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.top table td.title {
                    font-size: 45px;
                    line-height: 45px;
                    color: #333;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-box table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-box table tr.total td:nth-child(2) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

                @media only screen and (max-width: 600px) {
                    .invoice-box table tr.top table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }

                    .invoice-box table tr.information table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

                .invoice-box .download-button {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    margin-top: 10px;
                }

                .invoice-box .download-button:hover {
                    background-color: #0056b3;
                }

                .invoice-box .payment-button {
                    display: block;
                    width: 100%;
                    max-width: 200px;
                    margin: 20px auto;
                    padding: 10px;
                    background-color: #4CAF50;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    text-align: center;
                    text-decoration: none;
                }
            </style>
        `;

        document.body.innerHTML = printStyles + printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>


{% for shipment in shipments %}


<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <h1>Shipment Invoice {{ shipment.id }}</h1>
        <tr class="top">
            <td colspan="3">
                <table>
                    <tr>
                        <td class="title">
                            <img
                                src="../../static/images/footer/logo.svg"
                                style="width: 50%; max-width: 300px"
                            />
                        </td>

                        <td></td>

                        <td>
                            Invoice #: {{ shipment.id }}<br />
                            Created: {{ shipment.record_date.strftime('%Y-%m-%d') }}<br />
                            Due: {{ shipment.record_date.strftime('%Y-%m-%d') }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="3">
                <table>

                    
                    <tr>
                        <td>
                            <b>Shipment Source Details </b>
                            <br />
                            <br />
                            <b>Sender Name:</b>
                            <br />
                            <b>Sender Address:</b> {{ shipment.origin }}
                            <br />
                            john@example.com
                
                        </td>
                        <td></td>
                        <td>
                            <b>Shipment Destination Details </b>
                            <br />
                            <br />
                            <b>Receiver name:</b>{{ shipment.recipient }}
                            <br />
                            <b>Receipient address:</b>{{ shipment.destination }}
                            <br />
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr class="heading">
            <td>Package Type </td>
            <td style="align-items: left;">Weight</td>
            <td>Price</td>
        </tr>

        <tr class="item">
            <td>{{ shipment.package_type }}</td>

            <td style="align-items: left;">{{ shipment.package_weight }}kg</td>

            <td>${{ shipment.estimated_price }}</td>
        </tr>

       
        <tr class="total">
            <td></td>
            <td></td>
            <td><b>Total:</b> {{ shipment.estimated_price }}$ <br></td>
        </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td></td>
            </tr>
        
            <tr class="heading">
                <td>Payment Method</td>
                <td></td>

                <td>Amount</td>
            </tr>

            <tr class="details">
                <td>Cash on Delivery</td>
                <td></td>

                <td>{{ shipment.estimated_price }}$</td>
            </tr>
        

    </table>
<br>


    <br>
    <!-- Download PDF Button -->
    <button class="download-button" onclick="window.print()">Download Invoice</button>
    
    <!-- Payment Button -->
    <a href="" class="payment-button">Pay Now</a>

 
    <br>
    <br>
    <!-- Thanks for Patronage Section -->
    <p>Thanks for choosing our services!</p>

    <!-- Terms Section -->
    <p>Terms: Payment due within 30 days. Please contact us for any questions regarding this invoice.</p>


</div>
    <br>
{% endfor %}
{% endblock %}
