<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/fav/favicon-16x16.png">
    <link rel="manifest" href="/static/images/fav/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#004AF2">
    <meta name="msapplication-TileColor" content="#004AF2">
    <meta name="theme-color" content="#004AF2">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=PT+Sans&display=swap" rel="stylesheet">
    <title>Client Area - Mist Logistics</title>
</head>
<body>
<!--Header-->
<header class="header header--dark" id="header">      
    <div class="conteiner">
       <div class="header__inner">
        <a href="index.html">
            <img src="static/images/header icon/_ionicons_svg_md-locate 1.svg" alt="">
            </a>
            <nav class="nav">
                <a class="nav__link" href="/index">Home</a>
                <a class="nav__link" href="/blog">Blog</a>
                <a class="nav__link active" href="/text">Privacy Policy</a>
                <a class="nav__link" href="/text">Terms &amp; Conditions</a>
            </nav>
            <button class="burger" type="button">
                <img class="burger__icon" src="static/images/introbg/burger.svg" alt="">
            </button>
        </div>
    </div>
</header><!--/.Header-->



    <!--/.Footer-->
    <footer class="footer">
        <div class="conteiner">
            <img src="static/images/footer/logo.svg" alt="">
            <address class="footer__contacts">
                <p>New York, Street, ZIP code
                </p>
                <p>Call Us:<a href="tel:+9948373123"> +9948373123</a> or E-mail:<a href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a></p>
            </address>
            <nav class="footer__nav">
                <a href="/text">Terms & Contidions</a>
                <a href="/text"> Privacy Policy</a>
                <a href="/blog">  Our blog</a>
            </nav>
        </div>
    </footer><!--/.Footer-->
</div>

<!--Script js-->

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.slim.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/slick.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/aos.js"></script>


</body>
</html>
