<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/aos.css">
        <link rel="stylesheet" href="static/css/slick.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/fav/favicon-16x16.png">
        <link rel="manifest" href="static/images/fav/manifest.json">
        <link rel="mask-icon" href="static/images/fav/safari-pinned-tab.svg" color="#004AF2">
        <meta name="msapplication-TileColor" content="#004AF2">
        <meta name="theme-color" content="#004AF2">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=PT+Sans&display=swap" rel="stylesheet">
        <title>MIST Logistics - Strong, Fast, Reliable!</title>
    </head>
    <body>
    
        <div class="page">    
            <!--Header-->
            <header class="header" id="header"> 
                <div class="conteiner">
                   <div class="header__inner">
                       <a href="#" data-scroll="#intro">
                        <img class="img" src="static/images/headericon/logo.svg" alt="logo">
                        </a>
                        <nav class="nav" id="nav">
                            <a class="nav__link" href="#" data-scroll="#services">Services  </a>
                            <a class="nav__link" href="/tracking" >Tracking </a>
                            <a class="nav__link" href="#" data-scroll="#clients"> Clients  </a>
                            <a class="nav__link" href="#" data-scroll="#benefits">Benefits</a>
                            <a class="nav__link" href="#" data-scroll="#team">Team</a>
                            <a class="nav__link" href="#" data-scroll="#news" >News</a>
                            <a class="nav__link" href="#" data-modal="#becomeClientModal">Contact Us</a>
                            <a class="nav__link" href="/login">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Avatar" class="nav__avatar">
                                Client Portal
                            </a>
                            

                        </nav>
                        <button class="burger" type="button" id="navToggle">
                            <span class="burger__line">1</span>
                            <span class="burger__line">2</span>
                            <span class="burger__line">3</span>
                            <span class="burger__line">4</span>
                        </button>
                    </div>
                </div>
            </header><!--/.Header-->
            
            
            
            <!--Intro-->
            <div class="intro" id="intro">  
                <div class="intro__slider" id="introSlider">
                    
                    <div>
                        <img class="intro__slider-photo" src="static/images/slider/slide-1.jpg" alt="">
                    </div>
                    <div>    
                        <img class="intro__slider-photo" src="static/images/slider/slide-2.jpg" alt="">
                    </div>
                    <div>    
                        <img class="intro__slider-photo" src="static/images/slider/slide-3.jpg" alt="">
                    </div>
                    <div>    
                        <img class="intro__slider-photo" src="static/images/slider/slide-4.jpg" alt="">
                    </div>
                  
                </div>   
                <div class="conteiner">
                    <div class="intro__inner">
                        
                        <div class="request-form request-form--intro"  data-aos="fade-right">
                            <div class="request-form__header">
                                <h3 class="request-form__title">Get a Callback</h3>
                                <div class="request-form__text">Need assistance? Fill out the form and our team will call you back promptly to discuss your logistics needs.</div>
                            </div>
                            <div class="request-form__content">
                                <form class="form" action="/" method="POST">
                                    <div class="form__group">
                                        <input class="input input--user" type="text" placeholder="Your name">
                                    </div>
                                    <div class="form__group">
                                        <input class="input input--phone" type="tel" placeholder="Your phone">
                                    </div>
                                    <div class="form__group">
                                        <input class="input input--email" type="email" placeholder="Your e-mail">
                                    </div>
        
                                    <button class="btn btn--block btn--orange" type="submit"><span>Call me back</span></button>
                                </form>
        
                            </div>
                            
                        </div>
                        
                        <div class="intro__text"  data-aos="fade-left">
                            <div class="intro__countries">Worldwide Shipment Services</div>
                            <h1 class="intro__title">
                                <span class="intro__title-amp">&amp;</span>
                                Haulage<br>Logistics
                            </h1>
                        </div>
                        <div class="intro__slider-arrows">
                            <button  class="intro__slider-btn intro__slider-btn--prev" id="introSliderPrev" type="button">Prev</button>
                            <button class="intro__slider-btn intro__slider-btn--next" id="introSliderNext" type="button">Next</button>
                        </div>
                    </div>
        
                </div>
                
            </div>  <!--/.intro-->
        
            
            <!--Services-->
            <section class="section" id="services" data-scrollspy="#services">
                <div class="conteiner">
                    <div class="services">
                        <h2 class="services__main-title">Services</h2>
                        
                        <div class="services__item" data-aos="fade-down">
                            
                            <h4 class="services__title">Ground Shipping</h4>
                            <img src="static/images/services/ground.jpg" alt="Description" class="services__image" >
                            <div class="services__text">
                                <p>Our ground shipping services are efficient and reliable, ensuring your goods are delivered safely and on time, every time.</p>
                            </div>
                            <div class="services__footer">
                                <a class="services__link" href="#">Learn more</a>
                            </div>
                        </div>
                        
                        <div class="services__item" data-aos="fade-down" data-aos-delay="50">
                            <h4 class="services__title">Doorstep Delivery</h4>
                            <img src="static/images/services/doorstep.jpg" alt="Description" class="services__image" >
                            <div class="services__text">
                                <p>Experience the convenience of our doorstep delivery service, bringing your packages directly to your home or office.</p>
                            </div>
                            <div class="services__footer">
                                <a class="services__link" href="#">Learn more</a>
                             </div>
                        </div>
                        
                        <div class="services__item" data-aos="fade-down" data-aos-delay="150">
                            <h4 class="services__title">Sea Cargo Shipping</h4>
                            <img src="static/images/services/water.jpg" alt="Description" class="services__image" >
                            <div class="services__text">
                                <p>Our sea cargo shipping services offer cost-effective solutions for transporting large volumes of goods across the globe.</p>
                            </div>
                            <div class="services__footer">
                                <a class="services__link" href="#">Learn more</a>
                            </div>
                        </div>
                        
                        <div class="services__item" data-aos="fade-down" data-aos-delay="250">
                            <h4 class="services__title">Air Cargo Shipping</h4>
                            <img src="static/images/services/air.jpg" alt="Description" class="services__image" >
                            <div class="services__text">
                                <p>Our air cargo services are perfect for time-sensitive shipments, offering fast and reliable delivery worldwide.</p>
                            </div>
                            <div class="services__footer">
                                <a class="services__link" href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
        
            </section>    <!--/.Services-->
        
            <!--Clients-->
            <section class="section section--map" id="clients" data-scrollspy="#clients">  
                <div class="conteiner">
                    <h2 class="section__title"><span>Our </span>Clients</h2>
                
                    <div class="clients">   
                        <div class="clients__logos">
                            <ul class="clients__list">
                                <li data-aos="fade-right" data-aos-delay="0">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/alx.png" alt="" width="150" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="50">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/css.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="100">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/flask.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="150">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/html.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="200">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/javascript.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="250">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/mastercard.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="300">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/mysql.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="350">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/python.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="350">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/vscode.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="350">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/linux.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="350">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/git.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                                <li  data-aos="fade-right" data-aos-delay="350">
                                    <a href="#" target="_blank">
                                        <img class="clients__list-logo" src="static/images/clients/github.png" alt="" width="100" height="auto">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clients__reviews">
                            <div class="reviews" id="reviewsSlider">
                                <div class="reviews__item">
                                    <div class="reviews__header">
                                        <img class="reviews__photo" src="static/images/clients/avatar.png" alt="">
                                        
                                        <div class="reviews__header-content">
                                            <div class="reviews__name">Michael Nketia</div>
                                            <div class="reviews__company">ALX SE Student</div>
                                        </div>
                                    </div>
                                    <div class="reviews__content">
                                        <p class="reviews__p">"MIST Logistics has transformed our supply chain operations. Their reliable and timely services ensure our products reach our customers without delays. Highly recommend!"</p>
                                        <p>"Their customer support is exceptional, always ready to assist with any queries we have. Truly a game-changer in the logistics industry."</p>
                                    </div>
                                    
                                </div>
        
                                <div class="reviews__item">
                                    <div class="reviews__header">
                                        <img class="reviews__photo" src="static/images/clients/avatar2.png" alt="">
                                        
                                        <div class="reviews__header-content">
                                            <div class="reviews__name">Stephen Eze</div>
                                            <div class="reviews__company">ALX SE Student</div>
                                        </div>
                                    </div>
                                    <div class="reviews__content">
                                        <p class="reviews__p">"We have been working with MIST Logistics for over a year now, and their professionalism and dedication are unparalleled. Our logistics needs are always met with precision."</p>
                                        <p>"Their global network and expertise have allowed us to expand our reach effortlessly. We couldn't ask for a better logistics partner."</p>
                                    </div>
                                    
                                </div>

                                <div class="reviews__item">
                                    <div class="reviews__header">
                                        <img class="reviews__photo" src="static/images/clients/avatar.png" alt="">
                                        
                                        <div class="reviews__header-content">
                                            <div class="reviews__name">Michael Nketia</div>
                                            <div class="reviews__company">ALX SE Student</div>
                                        </div>
                                    </div>
                                    <div class="reviews__content">
                                        <p class="reviews__p">"Switching to MIST Logistics was the best decision for our company. Their seamless integration with our existing systems made the transition smooth and hassle-free."</p>
                                <p>"Their attention to detail and commitment to excellence is evident in every shipment. We are extremely satisfied with their service."</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div> <!--Clients-->
                    <button class="btn btn--orange btn--shadow" type="button" data-modal="#becomeClientModal">
                        <span>Become a client</span>
        
                    </button>
                    <span class="clients-love">We love our clients</span>
               </div>
            </section>    <!--/.Clients-->
        
            
            <!--Benefits-->
            <section class="section" id="benefits" data-scrollspy="#benefits"> 
                <div class="conteiner">
                    <h2 class="section__title"><span>Our</span>benefits</h2>
                    <div class="benefits">
                        <div class="benefits__col">
                            <ul class="benefits-list">
                                
                                <li class="benefits-list__item" data-aos="fade-down" data-aos-delay="0" data-aos-anchor=".benefits">
                                    <h4 class="benefits-list__title">24/7 Customer Support</h4>
                                    <div class="benefits-list__text">
                                        <p>Our dedicated support team is always available to assist you with any queries or concerns.</p>
                                    </div>
                                </li>
                                <li class="benefits-list__item" data-aos="fade-down" data-aos-delay="100" data-aos-anchor=".benefits">
                                    <h4 class="benefits-list__title">Global Network</h4>
                                    <div class="benefits-list__text">
                                        <p>With a vast network of partners, we offer seamless logistics solutions worldwide.</p>
                                    </div>
                                </li>
                                <li class="benefits-list__item" data-aos="fade-down" data-aos-delay="200" data-aos-anchor=".benefits">
                                    <h4 class="benefits-list__title">Reliability</h4>
                                    <div class="benefits-list__text">
                                        <p>We prioritize the safety and timely delivery of your goods.</p>
                                    </div>
                                </li>
                                <li class="benefits-list__item" data-aos="fade-down" data-aos-delay="300" data-aos-anchor=".benefits">
                                    <h4 class="benefits-list__title">Cost-effective Solutions</h4>
                                    <div class="benefits-list__text">
                                        <p>Our services are designed to offer the best value for your money.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="benefits__col">
                            <img class="img" src="static/images/benefits/kendall-henderson-Pj6TgpS_Vt4-unsplash1.jpg " alt="images">
                        </div>
                        
                    </div>
                </div>
            </section> <!--/.Benefits-->
            
            <!--Team-->
            <section class="section section--gray" id="team" data-scrollspy="#team">
                 <div class="conteiner">
                    <h2 class="section__title"><span>Our</span>Team</h2>
                    <div class="team">
                        <div class="team__col">
                            <div class="team__item" data-aos="fade-in" data-aos-delay="100">
                                <img class="team__photo" src="static/images/team/mike.png" alt="">
                                <div class="team__name">Michael Nketia</div>
                                <div class="team__prof">Backend Developer / Software Engineer</div>
                                <ul class="team__contacts">
                                    <li><img class="team__contacts-icon" src="static/images/team/ioniconssvgiosmail.svg" alt=""><a href="mailto">mike@mistlogistics.com</a></li>
                                    <li><img class="team__contacts-icon" src="static/images/team/ioniconssvgioscall.svg" alt=""><a href="tel:+1234567890">+1234567890</a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="team__col">
                            <div class="team__item" data-aos="fade-in" data-aos-delay="200">
                                <img class="team__photo" src="static/images/team/djes.png" alt="">
                                <div class="team__name">Stephen Eze</div>
                                <div class="team__prof">Frontend Designer / Software Engineer</div>
                                <ul class="team__contacts">
                                    <li><img class="team__contacts-icon" src="static/images/team/ioniconssvgiosmail.svg" alt=""><a href="mailto">stephen@mistlogistics.com</a></li>
                                    <li><img class="team__contacts-icon" src="static/images/team/ioniconssvgioscall.svg" alt=""><a href="tel:+1234567890">+1234567890</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team__col">
                            <div class="team__item" data-aos="fade-in" data-aos-delay="300">
                                <img class="team__photo" src="static/images/team/girl.jpg" alt="">
                                <div class="team__name">Jane Doe</div>
                                <div class="team__prof">Marketing Specialist</div>
                                <ul class="team__contacts">
                                    <li><img class="team__contacts-icon" src="static/images/team/ioniconssvgiosmail.svg" alt="" ><a href="mailto">jane@mistlogistics.com</a></li>
                                    <li><img class="team__contacts-icon" src="static/images/team/ioniconssvgioscall.svg" alt=""><a href="tel:+1234567890">+1234567890</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        
                </div>
            </section><!--/.Team-->
            
            <!--Mission-->
            <section class="section">
                <div class="conteiner">
                    <h2 class="mission-title">Our mission</h2>
                    <div class="mission" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="mission__title">
                            "To provide our customers with unparalleled services that meet the highest international standards."
                        </h3>
                        <h4 class="mission__subtitle">
                            "Book your cargo now and make your job significantly easier."
                        </h4>
                    </div>
                    <div class="text-center">
                        <button class="btn btn--orange btn--shadow" type="button" data-modal="#becomeClientModal">Become a client</button>
                     </div>
                </div>
            </section><!--/.Mission-->
        
            <!--News-->
            <section class="section section--last" id="news" data-scrollspy="#news">
                <div class="conteiner">
                    <h2 class="section__title"><span>Interesting</span> to read</h2>
                    <div class="article">
                        <article class="article__item" data-aos="fade-right" data-aos-delay="150">
                            <h4 class="article__title"><a href="#">Expansion of Our Fleet</a></h4>
                            <div class="article__text">We are excited to announce the expansion of our fleet with the addition of new vehicles to enhance our service capabilities.</div>
                            <time class="article__date" datetime="2024-06-30 11:10">30 June, 2024</time>
                        </article>
                        <article class="article__item" data-aos="fade-left" data-aos-delay="150">
                            <h4 class="article__title"><a href="#">Award for Excellence</a></h4>
                            <div class="article__text">We are proud to have received the prestigious award for excellence in logistics and customer service.</div>
                            <time class="article__date" datetime="2024-06-30 13:07">30 June, 2024</time>
                        </article>
                    </div>
                    <a class="btn btn--orange btn--shadow" href="/blog">Visit blog</a>
                </div>
            </section><!--/.News-->
        
             <!--Footer-->
 <footer class="footer">
    <div class="conteiner">
        <img src="../static/images/footer/logo.svg" alt="">
        <address class="footer__contacts">
            <p>123, Admiralty Way, Lekki. LOS NG, 101233.
            </p>
            <p>Call Us:<a href="tel:+1234567890"> +1234567890</a> or E-mail:<a href="mailto:info@mistlogistics.com">info@mistlogistics.com</a></p>
        </address>
        <nav class="footer__nav">
            <a href="#">Terms & Contidions</a>
            <a href="#"> Privacy Policy</a>
            <a href="#">  Our blog</a>
        </nav>
    </div>
</footer><!--/.Footer-->

            <a href="#" class="floating-button">
                <svg class="floating-button__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 3L4 12h5v8h6v-8h5L12 3z"/></svg>
            </a>
        
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const button = document.querySelector('.floating-button');
                    button.addEventListener('click', function(event) {
                        event.preventDefault();
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    });
                });
            </script>
        
            <!--Modals-->
            <div class="modal" id="becomeClientModal">
                <div class="modal__inner">
                    <div class="modal__content">
                        <div class="modal__header">
                            <h4 class="modal__title">Need to deliver your cargo?
                                We can help!
                            </h4>
                            <div class="modal__text">
                                <p>Fill a little form and we will call you back!</p>
                            </div>
                        </div>
        
                        <form class="form" action="/" method="POST">
                            <div class="form__group">
                                <input class="input input--dark input--user" type="text" placeholder="Your name">
                            </div>
                            <div class="form__group">
                                <input class="input input--dark input--phone" type="tel" placeholder="Your phone">
                            </div>
                            <div class="form__group">
                                <input class="input input--dark input--email" type="email" placeholder="Your e-mail">
                            </div>
        
                            <button class="btn btn--block btn--orange" type="submit"><span>Call me back</span></button>
                        </form>
                        <div class="modal__footer">
                            <h4 class="modal__footer-title">Our contacts</h4>
                            <address class="modal__contacts">
                                <p>City, Street, ZIP code</p>
                                <p>Phone:<a href="tel:+1234567890">+1234567890</a>
                                </p>
                                <p>E-mail:<a href="mailto:hello@centerlogistic.com">info@mistlogistics.com</a></p>
        
                            </address>
                        </div>
                        <button class="modal__close" type="button" data-modal-close>
                            <img src="static/images/modal/Group4.svg" alt="">
                        </button>
                    </div>
                </div>
            </div><!--/.Modals-->
        
            <div class="modal" id="thanksModal">
                <div class="modal__inner">
                    <div class="modal__content">
                        <div class="modal__header">
                            <img src="static/images/modal/tick5.svg" alt="">
                            <h4 class="modal__title">Thanks for your request
                            </h4>
                            <div class="modal__text">
                                <p>We call you back as soon as possible!</p>
                            </div>
                        </div>
                        <div class="modal__footer">
                            <h4 class="modal__footer-title">Our contacts</h4>
                            <address class="modal__contacts">
                                <p>City, Street, ZIP code</p>
                                <p>Phone:<a href="tel:+9948373123">+9948373123</a>
                                </p>
                                <p>E-mail:<a href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a></p>
        
                            </address>
                        </div>
                        <button class="modal__close" type="button" data-modal-close>
                            <img src="static/images/modal/Group4.svg" alt="1">
                        </button>
                    </div>
                </div>
            </div><!--/.Modals-->
        
            <!--Script js-->
        
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
            <script src="static/js/slick.min.js"></script>
            <script src="static/js/aos.js"></script>
            <script src="static/js/app.js"></script>

        </div>
        </body>
</html>